@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: #2E3C7E;
  --primary-color: #FBEAEB;
  --transparent-primary:#fbeaeb94; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: var(--primary-color);
}

.text-sub-title {
  font-family: var(--work-sans);
  font-weight: 300;
  font-style: italic;
}
.text-title {
  font-family: var(--work-sans);
  font-weight: 400;
  font-style: italic;
}

.transparent-primary {
  background-color: var(--transparent-primary);
}

.gradient-title{
  background: linear-gradient(360deg, rgba(46, 60, 126, 0.2) 0%, rgba(251, 234, 235, 1) 71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.text-primary-color {
  color: var(--primary-color);
}
.text-secondary-color {
  color: var(--secondary-color);
}


.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}
